# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This is a simple arithmetic expression to multiply then add integers.
print((3 * 4) + 5)

17

In [3]:
# This will convert 200 minutes to hours by diving by 60.
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

__Objectives__:
* List popular languages used by Data Scientists.
* List commonly used libraries used by Data Scientists.
* Provide examples of evaluating arithmetic expressions in Python.
* Demonstrate how to insert a markdown cell.

## Author
Hetti Gamage Vishmal